.Corpus-Container {
	flex-direction: column;
	display: flex;
	flex: 1;
	.Corpus {
		flex-direction: row;
		display: flex;
		-webkit-box-flex: 1;
		height: 100%;
		.Sidebar {
			display: flex;
			flex-direction: column;
			min-height: 100%;
			width: 20%;
			min-width: 200px;
			box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px
		}
	}
}
